form
  padding: 5px

  input
    height: 30px
    width: 200px
    text-align: center
    border-radius: 8px
    border: 2px solid rgb(170,170,230)
    box-shadow: 0px 0px 15px 3px rgba(170,170,230, 0.5);
    margin-block-end: 15px

  input:disabled
    opacity: 50%


